    <!-- Main Content -->
    <div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Journal
            	<!--
                <small>Secondary Text</small>
                -->
            </h1>
        </div>
    </div>
    <!-- /.row -->

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                    	February 12, 2015: Basic angular site deployed. 
                    </h2>
                    <h3 class="post-subtitle">
                        You're viewing it! <br>
                        Also, I implemented insertion with binary trees in js.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                    	February 21, 2015: HTML and CSS in place.
                    </h2>
                    <h3 class="post-subtitle">
                    	There are three main pages, as you can see.
                    	The home/about page will be fleshed out more after some visualizations are up.
                    	The Visualization page will link to the individual visualizations.
           				This page, the journal page, will contain updates every few days.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>

                <div class="post-preview">
                    <h2 class="post-title">
                        February 23, 2015: D3 included.
                    </h2>
                    <h3 class="post-subtitle">
                        I borrowed a tree visualization from
                        <a href="http://bl.ocks.org/NPashaP/7683252">NPashaP</a>
                        The sourcecode used mostly one character variable names and was partially minimized, so I rewrote it to be more compregensible.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        March 2, 2015: Binary Tree.
                    </h2>
                    <h3 class="post-subtitle">
                        I built a binary tree visualization out of 
                        <a href="http://bl.ocks.org/NPashaP/7683252">NPashaP's graceful tree code</a>
                        So far, it allows the user to add and remove nodes.
                        I intend to add depth first and bredth first searches as well as node coloring.
                        I am concerned that this binary search visualization, while a good demonstration of a binary tree, does not expose the underlying algorithms visually.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 2, 2015: Coloring for Binary Tree.
                    </h2>
                    <h3 class="post-subtitle">
                        I built a binary tree visualization out of 
                        <a href="http://bl.ocks.org/NPashaP/7683252">NPashaP's graceful tree code</a>
                        Additions to Binary Tree: Find nodes, watch search propogate through tree when adding, removing, or Finding a node.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <!--

                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>