    <!-- Main Content -->
    <div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Journal
            	<!--
                <small>Secondary Text</small>
                -->
            </h1>
        </div>
    </div>
    <!-- /.row -->

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                    	February 12, 2015: Basic angular site deployed. 
                    </h2>
                    <h3 class="post-subtitle">
                        You're viewing it! <br>
                        Also, I implemented insertion with binary trees in js.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                    	February 21, 2015: HTML and CSS in place.
                    </h2>
                    <h3 class="post-subtitle">
                    	There are three main pages, as you can see.
                    	The home/about page will be fleshed out more after some visualizations are up.
                    	The Visualization page will link to the individual visualizations.
           				This page, the journal page, will contain updates every few days.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>

                <div class="post-preview">
                    <h2 class="post-title">
                        February 23, 2015: D3 included.
                    </h2>
                    <h3 class="post-subtitle">
                        I borrowed a tree visualization from
                        <a href="http://bl.ocks.org/NPashaP/7683252">NPashaP</a>
                        The sourcecode used mostly one character variable names and was partially minimized, so I rewrote it to be more compregensible.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        March 2, 2015: Binary Tree.
                    </h2>
                    <h3 class="post-subtitle">
                        I built a binary tree visualization out of 
                        <a href="http://bl.ocks.org/NPashaP/7683252">NPashaP's graceful tree code</a>
                        So far, it allows the user to add and remove nodes.
                        I intend to add depth first and bredth first searches as well as node coloring.
                        I am concerned that this binary search visualization, while a good demonstration of a binary tree, does not expose the underlying algorithms visually.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 2, 2015: Coloring for Binary Tree.
                    </h2>
                    <h3 class="post-subtitle">
                        Now, when adding or removing a node from the binary tree, one can watch as the path is traced out by a D3 animation.  D3 does not have a lot of support for long sequences of transitions in animation, particularly when it's unclear how many steps it will take.  In my case, I'm able to calculate timing as I find my node, and use this for visualizing afterwards.
                    </h3>

                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>

                 <div class="post-preview">
                    <h2 class="post-title">
                        April 7, 2015: Red Black Trees: Every non-leaf node has two children.
                    </h2>
                    <h3 class="post-subtitle">
                        In order to make the red-black tree visualization, I've set up a binary tree implementation in which leaves are represented as empty nodes.  Every non empty node has 2 children, where one or both of these children may be leaves.  It is important that the viewer can see the leaf nodes, because they are colored, and are often players in the rebalancing actions.
                    </h3>
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 10, 2015: Red Black Trees: Insertion
                    </h2>
                    <h3 class="post-subtitle">
                        Insertion is complete.  Debugging was very difficult, but it forced me to understand the actual algorithm, rather than just translate the C implementation on Wikipedia into JavaScript.  The out of the box animation, using the D3 from the binary search tree, looks decent, but I will definitely want to make it better, in order to show the actual algorithm better.  I'm toying with the idea of displaying some of the code, or pseudocode, on the page, so that viewers can follow along.
                    </h3>
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 12, 2015: Red Black Trees: Deletion
                    </h2>
                    <h3 class="post-subtitle">
                        Deletion works with a few caveats:</br>
                         1. Errors when deleting node that doesn't exist </br>
                         2. Errors when deleting the last node. </br>
                         3. Needs better animation. </br>
                    </h3>
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 16, 2015: Red Black Trees: Deletion Bugs and Animation
                    </h2>
                    <h3 class="post-subtitle">
                        1. Fixed animation for node addition.</br>
                        2. Fixed Errors when deleting the last node.</br>
                        3. Deletion animation almost there.</br>
                    </h3>
                </div>
                <hr>

                <div class="post-preview">
                    <h2 class="post-title">
                        April 17, 2015: Red Black Trees: Deletion Bugs and Animation
                    </h2>
                    <h3 class="post-subtitle">
                        1. Deletion animation is in!</br>
                        2. Fixed Error when deleting a node that doesn't exist.</br>
                    </h3>
                </div>
                <hr>

                <!--

                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>