<div class="container">
  <!-- Header -->
  <a name="home"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>Visual Code</h1>
                  <h3>A collection of visualizations for common algorithms</h3>
                  <hr class="intro-divider">
                  <p>By Diana Vermilya</p>

                  <!--
                  <ul class="list-inline intro-social-buttons">
                      <li>
                          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                      </li>
                      <li>
                          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                      </li>
                      <li>
                          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                      </li>
                  </ul>
                  -->
              </div>
          </div>
      </div>

    </div>
  </div>
  <!-- /.intro-header -->

  <div class="intro-about">

    <p>GOALS</p>
    <ul>
      <li>Develop a better understanding well known algorithms, as well as techniques that are currently being developed.</li>
      <li>Explore visualization as a tool for helping people to understand computational solutions.</li>
      <li>Explore visualization as a tool for interacting with and improving computational solutions.</li>
      <li>Make these visualizations accessible.</li>
    </ul>
  </div> 
</div>
<!-- /.container -->