<div>
  <h2>Red Black Tree</h2>
</div>

<div class="row binary-nav">
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addNode()" type="button">Add Node</button>
      </span>
      <input type="text" class="form-control" ng-model="addNodeValue" placeholder="value">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-5 -->
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="removeNode()" type="button">Remove Node</button>
      </span>
      <input type="text" class="form-control" ng-model="removeNodeValue" placeholder="value">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-5 -->

  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="findNode()" type="button">Find Node</button>
      </span>
      <input type="text" class="form-control" ng-model="findNodeValue" placeholder="value">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-5 -->


</div><!-- /.row -->


<div class="svg-container"></div>
<div>
<p> Tree visualization reworked from <a href="http://bl.ocks.org/NPashaP/7683252">http://bl.ocks.org/NPashaP/7683252<p>
</div>